{% extends 'base.html' %} 
{% block content %}
  <h1>Detalle de la Oficina</h1>
  <p><strong>Nombre:</strong> {{ oficina.nombre }}</p>
  <p><strong>Nombre Corto:</strong> {{ oficina.nombre_corto }}</p>
  <h2>Personas en esta oficina</h2>
  {% if persona %}
    <ul>
      {% for p in persona %}
        <li>Nombre: {{ p.nombre }} - Apellido: {{ p.apellido }} - Edad: {{ p.edad }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay personas en esta oficina.</p>
  {% endif %}
  <a href="{% url 'oficina:oficina_lista' %}" class="btn btn-secondary">Volver a la lista de oficinas</a>
{% endblock %}